{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-expand-sm">
      <h3 style="color:#4287f5;padding-right:70px;font-family:Fantasy;"><b>EASY CART</b> <i class="fab fa-opencart" style="color:#0377fc"></i></h3><br>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'cartdataapp:allproduct' %}">Home</a>
        </li>
        {% if item_count > 0 %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart">{{item_count}}</i></a>
        </li>
        {% endif %}



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'cartdataapp:allproduct' %}">All Products</a></li>
                {% for cat in links %}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
                {% endfor %}
            <li><hr class="dropdown-divider"></li>
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->

          </ul>
        </li>
          {% if user.is_authenticated %}
            <li>Hai {{user.username}}</li>

            <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:logout' %}">LOGOUT</a>
            </li>
          {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">LOGIN</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">REGISTER</a>
          </li>
          {% endif %}
      </ul>
        <form class="d-flex" action="{% url 'search_app:SearchResult' %}" method="get">
          {% csrf_token %}
          <input class="form-control me-2"  type="text" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
  </div>
</nav>

<!--&lt;!&ndash;<nav>&ndash;&gt;-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="{% url 'cartdataapp:allproduct' %}">All Products</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        {% for cat in links %}&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="{{cat.get_url}}">{{cat.name}}</a> </li>&ndash;&gt;-->
<!--&lt;!&ndash;        {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;        <li>Your Cart</li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->