{% extends 'base.html' %}
{% load static %}
{% block title %}
{{pro.name}}
{% endblock %}
{% block content %}
<!--<div class="row my_prod_row_class">-->
<!--    <div class="mx-auto">-->
<!--            <a href="{% url 'cartdataapp:allproduct' %}">Home</a> |  <a href="{{pro.category.get_url}}">{{pro.name}}</a>-->
<!--        </div>-->
<!--    </div>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-cenetr">-->
<!--        <div style="min-width:8rem;">-->

<!--        <img src="{{pro.image.url}}" alt="{{pro.name}}">-->
<!--    </div>-->
<!--</div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col-12 col-sm-12 col-md-12 col-lg-6">-->
<!--    <div>-->
<!--        <h3>{{pro.name}}</h3>-->
<!--        <h3>${{pro.price}}</h3>-->
<!--        <p>{{pro.desc}}</p>-->
<!--    </div>-->
<!--</div>-->
<!--{% if pro.stock <= 0 %}-->
<!--    <h1 style="color:red">Out Of Stock</h1>-->
<!--{% else %}-->
<!--    <a href="">Add To Cart</a>-->

<!--{% endif %}-->
<!--{% endblock %}-->



<div class="row my_prod_row_class">
    <div class="mx-auto">
          <a href="{% url 'cartdataapp:allproduct' %}">Home</a> |  <a href="{{pro.category.get_url}}">{{pro.name}}</a>
    </div>
</div>

<div class="container"><br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-cenetr">
            <div style="min-width:8rem;">

            </div>
        </div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6">
    <div>
       <h1 class="my_prod_title">{{pro.name}}</h1>
                <p class="my_title">{{pro.price}}</p>
               <b><p class="text-justify my_prod_text">{{pro.desc}}</p></b>
                    {% if pro.stock <= 0 %}
                        <h1 style="color:red">Out Of Stock</h1>
                    {% else %}
                        <a href="">Add To Cart</a>

                    {% endif %}
    </div>
</div>

    </div>
</div>
{% endblock %}